<section class="sec-home">
  <ul>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-baiyang"></use>
      </svg>
      <span>白羊座</span>
      <span>(3.21-4.19)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-jinniu"></use>
      </svg>
      <span>金牛座</span>
      <span>(4.20-5.20)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-shuangzi"></use>
      </svg>
      <span>双子座</span>
      <span>(5.21-6.21)</span>
    </li>
  </ul>
  <ul>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-juxie"></use>
      </svg>
      <span>巨蟹座</span>
      <span>(6.22-7.22)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-shizi"></use>
      </svg>
      <span>狮子座</span>
      <span>(7.23-8.22)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-chunv"></use>
      </svg>
      <span>处女座</span>
      <span>(8.23-9.22)</span>
    </li>
  </ul>
  <ul>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-tianpin"></use>
      </svg>
      <span>天秤座</span>
      <span>(9.23-10.23)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-tianxie"></use>
      </svg>
      <span>天蝎座</span>
      <span>(10.24-11.22)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-sheshou"></use>
      </svg>
      <span>射手座</span>
      <span>(11.23-12.21)</span>
    </li>
  </ul>
  <ul>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-mojie"></use>
      </svg>
      <span>摩羯座</span>
      <span>(12.22-1.19)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xingyunshi"></use>
      </svg>
      <span>水瓶座</span>
      <span>(1.20-2.18)</span>
    </li>
    <li>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xingyunshi"></use>
      </svg>
      <span>双鱼座</span>
      <span>(2.19-3.20)</span>
    </li>
  </ul>
</section>


<app-tab></app-tab>
