@import "../../../assets/css/variable"

.sec-home
  padding $default-h-padding
  padding-bottom 5.9rem
  ul
    display flex
    margin-bottom 2.5rem
    li
      width 33.3%
      text-align center
      div
        border-radius 50%
        width 7.3rem
        height @width
        margin 0 auto
        margin-bottom 1.2rem
    svg
      fill none
      width 3.3rem
      height 7.3rem
      display block
      margin 0 auto
    span
      display block
    span:nth-child(2)
      font-size 1.3rem
      color $font-main-color
      margin-bottom .9rem
      line-height 1
    span:nth-child(3)
      font-size 1.1rem
      color $font-sub-color
      line-height 1
