@import "../../../assets/css/variable"

.about-us-sec
  width 100%
  height 14.9rem
  text-align center
  position absolute
  top 50%
  margin-top -7.5rem
  svg
    width 8.9rem
    height 8.9rem
    margin-bottom 2.3rem
    fill none
    stroke $theme-blue-color
  p
    font-size $font-normal-size
    color $font-main-color
.footer
  position absolute
  bottom 1.5rem
  font-size $font-normal-size
  color $font-sub-color
  width 100%
  text-align center

