<app-nav [title]="baodianTitle" [showConfig]="{isArrowShow:true}" (onSave)="onsave()"></app-nav>

<main class="character-detail">
  <section class="top-sec">
    <div class="pic">
      <!--<svg>-->
        <!--<use xlink:href="'assets/icon/symbol-defs.svg#icon-leo"></use>-->
      <!--</svg>-->
      <img src={{starDetail.img}} />
    </div>
    <div class="detail">
      <span>{{starDetail.name}}</span>
      <span>{{starDetail.date}}</span>
    </div>
    <div class="change" appFastClick (onFastClick)="tabbar = true">
      Toggle
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-qiehuan"></use>
      </svg>
    </div>
  </section>

  <section class="content" *ngIf="!movie">
    <p>
      {{starDetail.content}}
    </p>
  </section>

  <section class="movie-content" *ngIf="movie">
    <div class="brief">
      <div class="title">
        {{starDetail.title}}
      </div>
      <div class="detail">
        <p>
          {{starDetail.brief}}
        </p>
      </div>
    </div>
    <img src={{starDetail.movieimg}} />
    <div class="comment">
      <div class="title">
        Recommended reasons:
      </div>
      <div class="detail">
        <p>
          {{starDetail.reasons}}
        </p>
      </div>
    </div>
  </section>
</main>

<div class="exchange-tab" *ngIf="tabbar">
  <div class="tab-container">
    <div class="close-btn">
      <span appFastClick (onFastClick)="tabbar = false">X</span>
    </div>
    <div class="line">
      <span></span>
    </div>
    <div class="tab">
      <div class="tab-title">
        Choose the constellation
      </div>
      <div class="list">
        <ul>
          <li appFastClick (onFastClick)="gostar('Aries')">
            <svg style="stroke:#ff9b85 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-baiyang"></use>
            </svg>
            <span>Aries</span>
            <span>(19日3.21-4.19)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Taurus')">
            <svg style="stroke:#97dff7 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-jinniu"></use>
            </svg>
            <span>Taurus</span>
            <span>(4.20-5.20)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Gemini')">
            <svg style="stroke:#ffcc7d ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shuangzi"></use>
            </svg>
            <span>Gemini</span>
            <span>(5.21-6.19)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Cancer')">
            <svg style="stroke:#c6d5ce ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-juxie"></use>
            </svg>
            <span>Cancer</span>
            <span>(6.22-7.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Leo')">
            <svg style="stroke:#f7dd62 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shizi"></use>
            </svg>
            <span>Leo</span>
            <span>(7.23-8.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Virgo')">
            <svg style="stroke:#c8d86d ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-chunv"></use>
            </svg>
            <span>Virgo</span>
            <span>(8.23-9.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Libra')">
            <svg style="stroke:#fe93bd ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tianpin"></use>
            </svg>
            <span>Libra</span>
            <span>(9.23-10.23)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('scorpio')">
            <svg style="stroke:#df8eea ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tianxie"></use>
            </svg>
            <span>Scorpio</span>
            <span>(10.24-11.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Sagittarius')">
            <svg style="stroke:#9adc94 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-sheshou"></use>
            </svg>
            <span>Sagittarius</span>
            <span>(11.23-12.21)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Capricorn')">
            <svg style="stroke:#88c9ef ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-mojie"></use>
            </svg>
            <span>Capricorn</span>
            <span>(12.23-1.19)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Aquarii')">
            <svg style="stroke:#97dad3 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shuiping"></use>
            </svg>
            <span>Aquarii</span>
            <span>(1.20-2.18)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('Pisces')">
            <svg style="stroke:#dbe37c ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shuangyu"></use>
            </svg>
            <span>Pisces</span>
            <span>(2.19-3.20)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
