<app-nav [title]="'The constellation bible'" [showConfig]="{}"></app-nav>

<main class="baodian-sec">
  <ul class="baodian-list">
    <li class="character">
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xingzuotezheng"></use>
      </svg>
      <div class="details">
        <div class="title">
          Constellation character
        </div>
        <div>
          The professional analysis of zodiac signs
        </div>
        <button appFastClick (onFastClick)="goPage('./baodian-detail/character')">
          view more
        </button>
      </div>
    </li>

    <li class="love">
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xingzuoaiqing"></use>
      </svg>
      <div class="details">
        <div class="title">
          The constellation of love
        </div>
        <div>
          Find the sign that matches you best
        </div>
        <button appFastClick (onFastClick)="goPage('./baodian-detail/love')">
          view more
        </button>
      </div>
    </li>
    <li class="music">
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-yinyuefengge"></use>
      </svg>
      <div class="details">
        <div class="title">
          Music style
        </div>
        <div>
          There are all kinds of music styles
        </div>
        <button appFastClick (onFastClick)="goPage('./baodian-detail/music')">
          view more
        </button>
      </div>
    </li>
    <li class="movie">
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-dianyingtuijian"></use>
      </svg>
      <div class="details">
        <div class="title">
          The movie is recommended
        </div>
        <div>
          Recommended for all major zodiac movies
        </div>
        <button appFastClick (onFastClick)="goPage('./baodian-detail/movie')">
          view more
        </button>
      </div>
    </li>
  </ul>
</main>

<app-tab></app-tab>
