@import "../../../assets/css/variable"

.baodian-sec
  padding $default-h-padding
  background $theme-white-color
  .baodian-list
    li
      display flex
      border-radius .5rem
      height 12rem
      background-size 100%
      margin-bottom $default-h-padding
      padding $default-h-padding 3.9rem $default-h-padding $default-h-padding
      svg
        fill none
        stroke #fff
        width 4.1rem
        margin 0 2.5rem 0 1rem
        flex-grow 0
      .details
        color #fff
        flex-grow 1
        width 19.9rem
        font-size $font-small-size
        padding-left 1.5rem
        border-left 1px solid rgba(255,255,255,0.5)
        .title
          font-size $font-normal-size
          margin-bottom .9rem
          margin-top -.2rem
        button
          font-size $font-smaller-size
          margin-top .5rem
          border-radius .3rem
          border solid 1px #ffffff
          line-height 1
          padding .3rem
          color $theme-white-color
    .character
      background url('../../../assets/image/tezheng-ditu.png')
    .love
      background url('../../../assets/image/aiqing-ditu.png')
    .music
      background url('../../../assets/image/yinyue-ditu.png')
    .movie
      background url('../../../assets/image/dianying-ditu.png')
