@import "../../../assets/css/variable"

.msg
  position fixed
  bottom 15rem
  left 50%
  padding 1rem
  font-size $font-big-size
  color $theme-white-color
  line-height 1
  letter-spacing 1px
  background-color rgba(0,0,0,.7)
  border-radius .5rem
  transform translateX(-50%)
  white-space nowrap
  overflow hidden
  z-index 2

