@import "../../../assets/css/variable"

.collection-sec
  width 100%
  height 100%
  padding-bottom 5.9rem
  overflow scroll
  -webkit-overflow-scrolling touch
  .collection-list
    li
      padding 1rem $default-h-padding
      margin-bottom 1.5rem
      background #fff
      display flex
      justify-content space-between
      input
        height 4.3rem
        margin 0
        margin-right 2rem
        flex-grow 0
        background transparent
      .detail
        flex-grow 1
        width 31.6rem
      .smalltitle
        font-size $font-normal-size
        color $font-main-color
        margin-bottom .6rem
        width 100%
        height 2rem
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      .date
        font-size $font-small-size
        color $theme-gray-color
        svg
          width 1.1rem
          height 1.1rem
          fill none
          margin-right .5rem
          stroke $theme-blue-color
.nocontent
  width 100%
  text-align center
  height 15.8rem
  position absolute
  top 50%
  margin-top -7.9rem

  svg
    width 14.8rem
    height 11.7rem
    fill none
    stroke $theme-gray-color
  p
    font-size 1.3rem
    color $font-sub-color
    margin-top 2rem

footer
  position fixed
  bottom 0
  left 0
  width 100%
  background $theme-white-color
  color $font-main-color
  display flex
  button
    display inline-block
    padding 1.5rem 0
    border-radius 0
    font-size $font-bigger-size
    flex-grow 1
    width 50%
  .active
    background $theme-blue-color
    color $theme-white-color
