<app-nav *ngIf="!finish" [title]="'My collection'" [showConfig]="{isArrowShow:true, isEditShow: true}" (onEdit)="onedit()"></app-nav>
<app-nav *ngIf="finish" [title]="'My collection'" [showConfig]="{isArrowShow:true, isFinishShow: true}" (onFinish)="onfinish()"></app-nav>

<main class="collection-sec">
  <ul class="collection-list" *ngIf="hascollection">
    <li appFastClick (onFastClick)="goPage('./article-detail/' + item.linkUrl)" *ngFor="let item of articlearr">
      <input *ngIf="finish" type="checkbox" id={{item.linkUrl}}/>
      <label class="detail" for={{item.linkUrl}}>
        <div class="smalltitle">
          {{item.title}}
        </div>
        <div class="date">
          <svg>
            <use xlink:href="assets/icon/symbol-defs.svg#icon-nicheng"></use>
          </svg>
          <span class="author">{{item.author}}</span>
        </div>
      </label>
    </li>

  </ul>

  <div class="nocontent" *ngIf="!hascollection">
    <svg>
      <use xlink:href="assets/icon/symbol-defs.svg#icon-wushoucang"></use>
    </svg>
    <p>You haven't got any collection yet</p>
  </div>



  <footer *ngIf="finish">
    <button [ngClass]="{'active': choose === 1}" appFastClick (onFastClick)="chooseall()">
      Check all
    </button>
    <button [ngClass]="{'active': choose === 2}" appFastClick (onFastClick)="delete()">
      Deleting
    </button>
  </footer>
</main>
