<app-nav [title]="'The daily star'" [showConfig]="{}"></app-nav>

<main class="article-sec">
  <ul class="article-list">
    <li appFastClick (onFastClick)="goPage('./article-detail/' + item.link)" *ngFor="let item of articleList">
      <div class="description">
        <div class="title">
          {{item.title}}
        </div>
        <div class="author-date">
          <span class="author">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-nicheng"></use>
            </svg>
              {{item.author}}
          </span>
          <span class="date">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-riqi"></use>
            </svg>
              {{item.time}}
          </span>
        </div>
      </div>
      <img src={{item.image}} />
    </li>
  </ul>
</main>

<app-tab></app-tab>
