<app-nav [title]="'The daily star'" [showConfig]="{}"></app-nav>

<main class="article-sec">
  <ul class="article-list">
    <li appFastClick (onFastClick)="goPage('./article-detail/1')">
      <div class="description">
        <div class="title">
          How to compliment your partner, you can't.
        </div>
        <div class="author-date">
          <span class="author">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-nicheng"></use>
            </svg>
              Have a good life
          </span>
          <span class="date">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-riqi"></use>
            </svg>
              2017-11-21
          </span>
        </div>
      </div>
      <img src="assets/image/xingwen-no1.png" />
    </li>
    <li>
      <div class="description">
        <div class="title">
          How to compliment your partner, you can't.
        </div>
        <div class="author-date">
          <span class="author">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-nicheng"></use>
            </svg>
              Have a good life
          </span>
          <span class="date">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-riqi"></use>
            </svg>
              2017-11-21
          </span>
        </div>
      </div>
      <img src="assets/image/xingwen-no2.png" />
    </li>
    <li>
      <div class="description">
        <div class="title">
          How to compliment your partner, you can't.
        </div>
        <div class="author-date">
          <span class="author">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-nicheng"></use>
            </svg>
              Have a good life
          </span>
          <span class="date">
             <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-riqi"></use>
            </svg>
              2017-11-21
          </span>
        </div>
      </div>
      <img src="assets/image/xingwen-no3.png" />
    </li>
  </ul>
</main>

<app-tab></app-tab>
