<header class="top-container" appDevicePadding>
  <div class="img-out-line">
    <div class="img-container">
      <img src="assets/image/{{starname}}.png" />
    </div>
  </div>
  <div class="title-container">
    <div class="star">{{starname}}</div>
    <div class="date">{{day}}</div>
  </div>
  <div class="change" appFastClick (onFastClick)="tabbar = true">
    Toggle
    <svg>
      <use xlink:href="assets/icon/symbol-defs.svg#icon-qiehuan"></use>
    </svg>
  </div>
</header>

<div class="navbar">
  <a routerLinkActive="active" routerLink="/star-detail/{{smallname}}/today">Today</a>
  <a routerLinkActive="active" routerLink="/star-detail/{{smallname}}/tomorrow">Tomorrow</a>
  <a routerLinkActive="active" routerLink="/star-detail/{{smallname}}/week">Week</a>
  <a routerLinkActive="active" routerLink="/star-detail/{{smallname}}/month">Month</a>
  <a routerLinkActive="active" routerLink="/star-detail/{{smallname}}/year">Year</a>
</div>

<main>
  <section class="star-num-sec">
    <div>
      <div>
        <span>Overview:</span>
        <span>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
        </span>
      </div>
      <div>
        <span>Love:</span>
        <span>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
        </span>
      </div>
    </div>
    <div>
      <div>
        <span>Career:</span>
        <span>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
        </span>
      </div>
      <div>
        <span>Fortune:</span>
        <span>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-light">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
          <svg class="icon-dianping-thin">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-xingxing"></use>
          </svg>
        </span>
      </div>
    </div>
    <div>
      <div>
        <span>Lucky color:</span>
        <span>Sapphire blue</span>
      </div>
      <div>
        <span>Lucky number:</span>
        <span>Nine</span>
      </div>
    </div>
    <div>
      <div>
        <span>Noble:</span>
        <span>Leo</span>
      </div>
      <div>
        <span>Little people:</span>
        <span>Leo</span>
      </div>
    </div>
    <div>
      <div class="comments">
        <span>Comments:</span>
        <span>Stopping is not necessarily stagnation</span>
      </div>
    </div>
  </section>

  <section class="overview">
    <div class="title">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158.7 126.6"><defs><style>.cls-1,.cls-2{stroke-linecap:round;stroke-linejoin:round;}.cls-1{stroke-width:20px;}.cls-2{stroke-width:10px;}</style></defs><title>yunshi</title><polyline class="cls-1" points="10 10 10 116.6 148.7 116.6"/><line class="cls-1" x1="50" y1="67.6" x2="50" y2="116.6"/><line class="cls-1" x1="80.4" y1="49.1" x2="81.9" y2="116.6"/><line class="cls-1" x1="110" y1="69.6" x2="110" y2="116.6"/><polyline class="cls-2" points="10 48.4 67 10 100 37.6 141.9 10"/></svg>
      OVERVIEW
    </div>
    <p>The narcissist is revel in the happiness of self - weaving and feels good about himself. Financial downturn, or do not act lightly, carefully stepping into the minefield. The pressure of job competition is too great, make it difficult to adapt, it is better to be your study time today, so it is more beneficial to the development of your career.</p>
  </section>

  <section class="love">
    <div class="title">
      <svg >
        <use xlink:href="assets/icon/symbol-defs.svg#icon-aiqing"></use>
      </svg>
      LOVE
    </div>
    <p> A single person has the opportunity to bond with the opposite sex, but should adopt a gradual approach. Married people should pay attention to communication.</p>
  </section>

  <section class="work">
    <div class="title">
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-shiye"></use>
      </svg>
      WORK
    </div>
    <p>Some of them are more likely to have arguments in communication with their partners, and it is easy to make their logical thinking happen.</p>
  </section>

  <section class="wealth">
    <div class="title">
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-caifu"></use>
      </svg>
      WEALTH
    </div>
    <p>The fiscal mess is a mess, and for the conservatives it is less lethal and the greedy will lose a lot of money.</p>
  </section>

</main>

<app-tab></app-tab>


<div class="exchange-tab" *ngIf="tabbar">
  <div class="tab-container">
    <div class="close-btn">
      <span appFastClick (onFastClick)="tabbar = false">X</span>
    </div>
    <div class="line">
      <span></span>
    </div>
    <div class="tab">
      <div class="tab-title">
        Choose the constellation
      </div>
      <div class="list">
        <ul>
          <li appFastClick (onFastClick)="gostar('aries')">
            <svg style="stroke:#ff9b85 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-baiyang"></use>
            </svg>
            <span>Aries</span>
            <span>(19日3.21-4.19)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('taurus')">
            <svg style="stroke:#97dff7 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-jinniu"></use>
            </svg>
            <span>Taurus</span>
            <span>(4.20-5.20)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('gemini')">
            <svg style="stroke:#ffcc7d ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shuangzi"></use>
            </svg>
            <span>Gemini</span>
            <span>(5.21-6.19)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('cancer')">
            <svg style="stroke:#c6d5ce ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-juxie"></use>
            </svg>
            <span>Cancer</span>
            <span>(6.22-7.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('leo')">
            <svg style="stroke:#f7dd62 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shizi"></use>
            </svg>
            <span>Leo</span>
            <span>(7.23-8.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('virgo')">
            <svg style="stroke:#c8d86d ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-chunv"></use>
            </svg>
            <span>Virgo</span>
            <span>(8.23-9.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('libra')">
            <svg style="stroke:#fe93bd ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tianpin"></use>
            </svg>
            <span>Libra</span>
            <span>(9.23-10.23)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('scorpio')">
            <svg style="stroke:#df8eea ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tianxie"></use>
            </svg>
            <span>Scorpio</span>
            <span>(10.24-11.22)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('sagittarius')">
            <svg style="stroke:#9adc94 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-sheshou"></use>
            </svg>
            <span>Sagittarius</span>
            <span>(11.23-12.21)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('capricorn')">
            <svg style="stroke:#88c9ef ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-mojie"></use>
            </svg>
            <span>Capricorn</span>
            <span>(12.23-1.19)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('aquarii')">
            <svg style="stroke:#97dad3 ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shuiping"></use>
            </svg>
            <span>Aquarii</span>
            <span>(1.20-2.18)</span>
          </li>
          <li appFastClick (onFastClick)="gostar('pisces')">
            <svg style="stroke:#dbe37c ">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-shuangyu"></use>
            </svg>
            <span>Pisces</span>
            <span>(2.19-3.20)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

