@import "../../../assets/css/variable"

.top-container
  position fixed
  top 0
  background url('../../../assets/image/toubu.png')
  background-size 100%
  width 100%
  height 122px
  padding-left 37px
  .img-out-line
    position absolute
    border 1px solid #ffffff
    width 66px
    height @width
    border-radius 50%
    bottom 30px
    margin-right 18px
  .img-container
    text-align center
    background $theme-white-color
    width 57px
    height @width
    border-radius 50%
    margin 0 auto
    margin-top 4px
    img
      width 41px
      height 39px
      margin-top 10px
  .title-container
    position absolute
    bottom 41px
    left 120px
    color #ffffff
    .star
      font-size 18px
      margin-bottom 4px
    .date
      font-size 12px
  .change
    position absolute
    bottom 30px
    right 1.5rem
    color $theme-white-color
    font-size $font-smaller-size
    line-height 6.5rem
    svg
      width 1.4rem
      height 1.4rem
      fill $theme-white-color
      vertical-align middle
      stroke none

.navbar
  position fixed
  top 122px
  display flex
  width 100%
  background #fff
  justify-content space-around
  border-bottom $default-border
  font-size 1.3rem
  line-height 1rem
  padding 0 $default-h-padding
  a
    padding 1.5rem 0.5rem
    flex-grow 1
    text-align center
    border-bottom 2px solid transparent
  .active
    border-bottom 2px solid $theme-blue-color
main
  margin-top 165px
  padding-bottom 5.9rem

.star-num-sec
  border-bottom $default-border
  padding $default-h-padding
  &>div
    display flex
    &>div:nth-child(1)
      width 55%
    &>div:nth-child(2)
      width 45%
    &>div
      span
        &:nth-child(1)
          font-size $font-normal-size
          color #0f0f0f
          margin-right 1rem
        &:nth-child(2)
          font-size 1.3rem
          color $theme-little-blue-color
  .comments
    width 100% !important


.overview
.love
.wealth
.work
  padding $default-h-padding
  .title
    font-size $font-normal-size
    font-weight bold
    color #0f0f0f
    margin-bottom .9rem
    svg
      width 1.9rem
      height 1.4rem
      fill none
      vertical-align middle
  p
    font-size $font-normal-size
    color $ont-main-color

.overview
  .title
    svg
      stroke #32e4ea
.love
  .title
    svg
      stroke #ea32df

.work
  .title
    svg
      stroke #3277ea

.wealth
  .title
    svg
      stroke #efb332


.icon-dianping-light
  width 1.3rem
  height 1.3rem
  fill $theme-blue-color
.icon-dianping-thin
  width 1.3rem
  height 1.3rem
  fill #d6e3e3

.exchange-tab
  width 100%
  height 100%
  background rgba(0,0,0,0.3)
  position fixed
  z-index 3
  top 0
  left 0
  .tab-container
    width 26.5rem
    height 47rem
    position absolute
    left 50%
    top 50%
    margin-top -23.5rem
    margin-left -13rem
    .close-btn
      width 100%
      text-align right
      span
        width 3rem
        height 3rem
        display inline-block
        color $theme-blue-color
        font-size 1.2rem
        text-align center
        line-height 3rem
        background $theme-white-color
        border-radius 50%
    .line
      height 4rem
      width 100%
      text-align right
      span
        display inline-block
        border-left 1px solid #fff
        width 1.5rem
        height 4rem
  .tab
    background #fff
    border-radius .5rem
    .tab-title
      font-size $font-normal-size
      color $theme-blue-color
      text-align center
      padding 1.6rem 0 1rem
      border-bottom 1px solid $theme-blue-color
    .list
      ul
        padding-bottom 1.9rem
        li
          height 2.9rem
          width 100%
          color $font-main-color
          padding-left 2.3rem
          &:active
            background #d0f1f2
          span
            display inline-block
            height 2.9rem
            line-height 2.9rem
          span:nth-child(1)
            font-size 1.3rem
          span:nth-child(2)
            font-size $font-small-size
          svg
            width 1.3rem
            height 2.9rem
            vertical-align middle
            margin-right .9rem
            fill none



