<footer class="tab">
  <a class="nav" routerLink="./home" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-xingyun"></use>
    </svg>
    <svg class="icon-home-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-xingyunshi"></use>
    </svg>
    <h4>星运</h4>
  </a>
  <a class="nav" routerLink="./article" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-xingweng"></use>
    </svg>
    <svg class="icon-home-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-xingwengshi"></use>
    </svg>
    <h4>星文</h4>
  </a>
  <a class="nav" routerLink="./baodian" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-baodian"></use>
    </svg>
    <svg class="icon-home-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-baodianshi"></use>
    </svg>
    <h4>宝典</h4>
  </a>
  <a class="nav" routerLink="./person" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-geren"></use>
    </svg>
    <svg class="icon-home-active">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-gerenshi"></use>
    </svg>
    <h4>个人</h4>
  </a>
</footer>
