@import "./variable"

.empty-sec
  position absolute
  text-align center
  top 50%
  left 50%
  width 100%
  transform translate(-50%, -50%)
  margin-top -4.9rem
  img
    width 18.5rem
    height auto
    margin-bottom 1.5rem
  p
    font-size 1.3rem
    color $font-sub-color

