@import "../../../assets/css/variable"

.person-sec
  .collection
  .feedback
  .aboutus
    background #fff
    display flex
    justify-content space-between
    padding 0 $default-h-padding
    height 4.8rem
    svg
      flex-grow 0
      width 1.6rem
      fill none
      stroke $theme-blue-color
      margin-right .7rem
      height 4.8rem
    .icon-right
      stroke $theme-gray-color
    span
      font-size $font-big-size
      color $font-main-color
      flex-grow 1
      line-height 4.8rem
  .collection
    margin-top 1.5rem
    border-bottom $default-border
  .aboutus
    margin-top 3rem

