@import "../../../assets/css/variable"

.tip
  font-size $font-small-size
  color $theme-gray-color
  padding 1rem $default-h-padding
.form
  text-align center
  .form-field
    text-align left
    background #fff
    padding 0 $default-h-padding
    height 4.8rem
    line-height 4.8rem
    label
      font-size $font-big-size
      color $font-main-color
    input
      font-size $font-normal-size
  .comments
    margin-top 1.5rem
    height auto
    textarea
      width 100%
      font-size $font-normal-size
      color $font-main-color
  .email
    border-bottom $default-border
  .word-num
    font-size $font-small-size
    color $theme-gray-color
    text-align right
    margin-top 1rem
    margin-right 1.5rem

button
  color $theme-blue-color
  font-size $font-bigger-size
  padding 1.4rem 3.4rem
  border 1px solid $theme-blue-color
  border-radius .5rem
  background #fff
  display block
  margin 0 auto
  margin-top 6.2rem
  &[disabled]
    background-color #eee

