<header class="nav" appDevicePadding>
  <button class="left-btn" *ngIf="showConfig.isCloseShow" appFastClick (onFastClick)="goBack()">关闭</button>
  <button class="left-btn" *ngIf="showConfig.isCancelShow" appFastClick (onFastClick)="goBack()">取消</button>
  <button class="left-btn" *ngIf="showConfig.isArrowShow" appFastClick (onFastClick)="goBack()">
    <svg class="icon-left-arrow">
      <use xlink:href="assets/icon/symbol-defs.svg/icon-xiayibu"></use>
    </svg>
  </button>
  <h1 class="title">{{title}}</h1>
  <button class="right-btn" *ngIf="showConfig.isRegisterShow" appFastClick (onFastClick)="pushToRegister()">注册</button>
  <button class="right-btn" *ngIf="showConfig.isSaveShow" appFastClick (onFastClick)="save()">保存</button>
</header>
<div class="nav-bg" appDevicePadding></div>
